/* ==========================================================================
   Aligner
   ========================================================================== */

.aligner {
	display: flex;
	// flex-wrap: nowrap; // `nowrap` is default!

	/**
	 * To align the first of (just) two items to the left and the second item
	 * to the right, don't use `justify-content: space-between;` on wrapper or
	 * container, but just add `aligner__item-right` class to the second item!
	 */

	&__item--right {
		margin-left: auto;
	}
}

/**
 * Start flex(box) from compact and up
 */

.compact-aligner {

	@include breakpoint(compact) {
		display: flex;

		&__item--right {
			margin-left: auto;
		}

		// &--baseline {
		// 	align-items: baseline;
		// }
	}
}

/**
 * Start flex(box) from compact and up
 */

.medium-aligner {

	@include breakpoint(medium) {
		display: flex;

		&__item--right {
			margin-left: auto;
		}

		// &--baseline {
		// 	align-items: baseline;
		// }
	}
}

/**
 * Wrap items onto multiple lines (from top to bottom) within `aligner` (flex) container.
 */

.aligner--wrap {
	flex-wrap: wrap;
}

/**
 * Align items such as their baselines align
 */

.aligner--baseline {
	align-items: baseline; // `stretch` is default!
}

/**
 * (Stack or) vertical align item(s) witin `aligner` (flex) container.
 */

.aligner--stacked {
	flex-direction: column;
}

/**
 * (Center or) horizontally align item(s) witin `aligner` (flex) container.
 */

.aligner--center {
	justify-content: center;
	align-items: center; // `stretch` is default!
}

/**
 * Align item(s) to the top of the `aligner` (flex) container.
 */

.aligner--top {
	justify-content: flex-start;
	// justify-content: space-between;
	text-align: left;
	align-items: flex-start; // `stretch` is default!
}

/**
 * Align item(s) to the bottom of the `aligner` (flex) container.
 */

.aligner--bottom {
	justify-content: flex-end;
	// justify-content: space-between;
	text-align: left;
	align-items: flex-start; // `stretch` is default!
}

/**
 * Align item(s) to the right of the `aligner` (flex) container.
 */

.aligner--right {
	justify-content: flex-end;
}
