/* ==========================================================================
   Filter
   ========================================================================== */

/**
 * Filters wrapper
 */

.filters {
	width: 100%;

	/**
	 * The (show) more (and less) button
	 */

	button {
		background: none;
		border: none;
		outline: none;
		font: inherit;
		cursor: pointer;
		margin: 0;
		padding-top: rhythm(.1);
		padding-right: 0;
		padding-bottom: rhythm(.1);
		padding-left: rhythm(.5);
		white-space: nowrap;
		line-height: rhythm(1.6);
		opacity: 0;
		animation: fade-in .5s ease-in .15s normal forwards;
		// -webkit-font-smoothing: antialiased; // [2] To prevent flickering of text in Safari (default is subpixel-rendering)
		color: $color-aqua-dark;

		&:hover {
			color: $color-link-dark;
		}
	}

	.no-touchevents & {

		button {
			padding-left: rhythm(.4);
			line-height: rhythm(1.2);
		}
	}
	&.is-closed {

		button {
			order: 1;
			z-index: $z-index-more-button;
			margin-left: auto; // Always align next pagination item to the right (on very small screens)!
		}
	}
}

/**
 * Filters list
 */

.filterslist {
	position: relative;
	overflow: hidden;
	height: rhythm(1.85); // line-height rhythm(1.6) + padding-top rhythm(.1) + padding-bottom rhythm(.1) + margin-bottom rhythm(.05)!!!

	.no-touchevents & {
		height: rhythm(1.45); // line-height rhythm(1.2) + padding-top rhythm(.1) + padding-bottom rhythm(.1) + margin-bottom rhythm(.05)!!!
	}

	&:after {
		@include linear-gradient(to left, $color-gradient-white-transparent);

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		content: "";
		width: rhythm(5);
		width: 16vw;
		pointer-events: none; // To *not* make events "pass through" the element
	}

	.is-visible &,
	.is-open &,
	.no-js & {

		&:after {
			content: none;
		}
	}
	.is-open &,
	.no-js & {
		flex-wrap: wrap;
		height: auto;
	}
}

/**
 * Filters list item
 */

.filterslist__item {
	white-space: nowrap;
	text-transform: lowercase;

	a {
		// color: $color-aqua-dark; // Color is defined by button (`button--simple`)!
		margin-right: rhythm(.05);
		margin-bottom: rhythm(.05);
	}

	&-count {
		color: $color-aqua-light;
		margin-left: .3em;
	}

	.no-js & {
		display: inline-block;
	}
}
