/* ==========================================================================
	 Language toggle
	 ========================================================================== */

/* Nav main */

.language-toggle {

	&__item {

		&:first-of-type a {
			border-radius: rhythm(.1) 0 0 rhythm(.1);
		}

		&:last-of-type a {
			border-radius: 0 rhythm(.1) rhythm(.1) 0;
		}

		a {
			display: block;
			padding-top: rhythm(.1);
			padding-right: rhythm(.5);
			padding-bottom: rhythm(.1);
			padding-left: rhythm(.5);
			background-color: rgba($color-base-aqua,.1);
			color: $color-aqua-dark;
			// text-transform: uppercase;
			// font-variant: small-caps;

			@include breakpoint(medium) {
				padding-top: rhythm(.1);
				padding-right: rhythm(.5);
				padding-bottom: rhythm(.1);
				padding-left: rhythm(.5);
			}

			&:hover,
			&:focus,
			&[aria-current="true"] {
				color: $color-link-dark;
			}

			&[aria-current="true"] {
				background-color: rgba($color-base-aqua,.3);
				cursor: default;
			}

			header & {

				.template-home &,
				.template-journal-post &,
				.template-error & {
					background-color: rgba($color-link-light,.2);
					color: rgba($color-link-light,.6);

					&:hover,
					&:focus,
					&[aria-current="true"] {
						color: $color-link-light;
					}

					&[aria-current="true"] {
						background-color: rgba($color-link-light,.6);
					}
				}
			}
		}
	}
}
