/* ==========================================================================
   Painting
   ========================================================================== */

.painting {
	margin-top: rhythm(1);
	margin-bottom: rhythm(3);

	.js & {
		a {
			cursor: zoom-in;
		}
	}

	&__info {
		margin-top: rhythm(.5);

		> h3 {
			// @include responsive-text-size($text-epsilon);
			// @include responsive-text-size($text-pico);

			font-weight: 400;
			font-style: normal;
		}

		> h3,
		> p {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.template-work {

	[role="main"] {
		overflow: hidden;
	}

	.grid--gutter {
		margin-right: rhythm(-1.5 * $grid-gutter-rhythm-unit); // Removes the `gutter` right
		margin-left: rhythm(-1.5 * $grid-gutter-rhythm-unit); // Removes the `gutter` right

		& > .grid__cell {
			padding-right: rhythm(1.5 * $grid-gutter-rhythm-unit);
			padding-left: rhythm(1.5 * $grid-gutter-rhythm-unit);
		}
	}
}
