/* ==========================================================================
   Banner (aka page header)
   ========================================================================== */

.banner {
	width: 100%;
	display: flex;
	flex-wrap: wrap; // Default is `nowrap`
	align-items: baseline;
	padding-top: rhythm(.5);
	padding-bottom: rhythm(1.5);

	.template-home &,
	.template-journal-post &,
	.template-error & {
		position: absolute;
		z-index: $z-index-banner;
	}

	.masthead {
		flex: 0 1 60%;
	}

	.language-toggle {
		flex: 0 1 40%;
	}

	.nav-main {
		flex: 1 0 100%; // Make sure navigation goes on new line
	}

	@include breakpoint(compact) {
		flex-wrap: nowrap;
		padding-top: rhythm(1);
		padding-bottom: rhythm(2);

		.masthead {
			flex: 0 1 auto;
			order: 1;
			margin-right: auto; // To align last item right, all other items right
		}

		.language-toggle {
			flex: 0 1 auto;
			order: 3;
			margin-left: rhythm(1); // Some spacing bewteen language toggle and navigation
		}

		.nav-main {
			flex: 0 1 auto;
			order: 2;
		}
	}
}
