/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Default styles
 */

.table {
	margin-bottom: rhythm(1);
	max-width: 100%;
	border-spacing: 0;

	th,
	td {
		padding-top: rhythm(.5);
		padding-bottom: rhythm(.5);
		text-align: left;
	}

	th + th,
	td + td {
		padding-left: rhythm(.5);
	}

	/* Table head */

	th {
		font-weight: inherit;
		// font-weight: 700;
		font-style: italic;
		vertical-align: middle;
		// white-space: nowrap
		// background-color: rgba($color-base-aqua,.1);
	}

	/* Table cell */

	td {
		vertical-align: top;
	}

	/* Table footer */

	tfoot {
		font-style: italic;
	}

	/* Cell alignments */

	[colspan] {
		text-align: center;
	}
	[colspan="1"] {
		text-align: left;
	}
	[rowspan] {
		vertical-align: middle;
	}
	[rowspan="1"] {
		vertical-align: top;
	}

	/**
	 * Responsiveness
	 */

	@include breakpoint(compact, max) {

		// display: inline-block; // IE needs inline-block to position scrolling shadows otherwise use: display: block; max-width: min-content;
		display: block;
		max-width: min-content;
		overflow-x: auto;
		white-space: nowrap;

		tbody {
			-webkit-overflow-scrolling: touch;
		}
	}
}

.table__numerical {
	text-align: right;
}


/**
 * Striped tables
 */

.table--striped {

	th,
	td {
		padding: rhythm(.25) rhythm(.5);
	}
	th {
		background-color: $color-base-aqua;
		color: $color-base-white;
	}
	th + th,
	td + td {
		border-left: 1px solid $color-base-white;
	}

	/* Zebra-striping */

	tbody {
		tr:nth-child(even) td {
			background-color: rgba($color-base-aqua,.1);
		}
		tr:hover td {
			background-color: rgba($color-base-aqua,.3);
			// color: $color-base-white;
		}
	}

}

/**
 * Rounded corners
 */

.table--rounded {

	thead th:first-child {
		border-top-left-radius: rhythm(.5);
	}
	thead th:last-child {
		border-top-right-radius: rhythm(.5);
	}
	tr:last-of-type td:first-child {
		border-bottom-left-radius: rhythm(.5);
	}
	tr:last-of-type td:last-child {
		border-bottom-right-radius: rhythm(.5);
	}
	// tfoot td:first-child {
	// 	border-bottom-left-radius: rhythm(.5);
	// }

	// tfoot td:last-child {
	// 	border-bottom-right-radius: rhythm(.5);
	// }
}

/**
 * Bordered tables
 */

.table--bordered {
	border-collapse: collapse; // Padding has no effect on table with border-collapse set to collapse!!!

	th,
	td {
		padding: rhythm(.25) rhythm(.5);
		border: 1px solid rgba($color-base-aqua,.1);

		&:empty {
			border:none;
		}
	}
	thead th {
		border-bottom-width: 1px;
		border-bottom-color: $color-base-aqua;// rgba($color-base-aqua,.1);
	}
	tfoot tr {
		border-top-width: 1px;
	}
}
