/* ==========================================================================
   Links
   ========================================================================== */

.link {

	// Sometimes, particularly on larger projects, it is useful to scope
	// link styling only to anchors which have 'href' attributes,
	// therefore the use of :link
	&:link {
		// @include underline($color-blue-m-light);

		position: relative;
		// background-color: transparent; // Remove the gray background on active links in IE 10.
		background-color: $color-aqua-m-light;//$color-gray-x-light;
		// text-decoration: underline;
		// text-decoration-skip: ink; // See: https://css-tricks.com/more-control-over-text-decoration/
		// color: $color-blue-dark;
		color: $color-base-black;
		// color: rgba($color-link-dark,.6);
		border-radius: rhythm(.1);
		padding: rhythm(.1);
		-webkit-tap-highlight-color: rgba(0,0,0,0); // Hide transparent highlight color that appears when tapping on iOS/Android

		.no-touchevents & {
			transition: background-color .24s ease-out, color .24s ease-out;
		}
	}

	&:visited {
		color: $color-link-visited;
	}
	&:hover,
	&:focus {
		color: $color-link-dark;
		background-color: transparent;

		.no-touchevents & {
			// top: -2px;
			// border-bottom: 2px solid $color-link-dark;
			background-color: $color-base-aqua;
			color: $color-link-light;
		}
	}
	&:active {
		color: $color-link-dark;
		// transition: none; // Check out article about UI feedback: http://bfred.it/notes/?p=46

		.no-touchevents & {
			// top: 0;
			// border-bottom-width: 0;
			background-color: transparent;
			color:	$color-link-dark;
		}
	}

	&--simple {

		&:link {
			text-decoration: none;
			// color: $color-base-gray;
			color: rgba($color-link-dark,.6);
		}
	}

	&--lowercase {
		text-transform: lowercase;
	}

	/**
	* No visited link color (browser history)
	*/

	&--no-history {
		&:visited {
			color: $color-link-dark;
		}
		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}
}
